/* Boton.css */

/* Fila de botones */
.fila {
  margin: 0;
  display: flex;
  gap: 10px; /* Espacio uniforme entre botones */
}

/* Botón base */
.boton-contenedor {
  height: 80px;
  /* flex: 1; hará que todos los botones de la fila ocupen el mismo ancho */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #3f3f66;
  color: white;
  border-radius: 20px;
  border: 2px solid #ffffff22;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

.boton-contenedor:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

/* Botones de operación */
.operador {
  background-color: #665cf0;
}

/* --- Media Query para dispositivos móviles --- */
@media screen and (max-width: 480px) {
  .boton-contenedor {
    height: 70px; /* Botones más pequeños */
    font-size: 1.6rem; /* Texto de los botones más pequeño */
    border-radius: 15px;
  }
}